<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63711301052-35doq360j1dn34lomah5vbuf3271f7b8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63711301052-35doq360j1dn34lomah5vbuf3271f7b8</string>
	<key>API_KEY</key>
	<string>AIzaSyBMHfzUxmYGBPoGCQSZuDHX0IkAHf0d-p4</string>
	<key>GCM_SENDER_ID</key>
	<string>63711301052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vadimkononenko.InstagramApp</string>
	<key>PROJECT_ID</key>
	<string>instagramapp-837f0</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramapp-837f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63711301052:ios:c81bde1022ec971f202fb9</string>
</dict>
</plist>